body {
    background: #f3f3f3;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.bussiness-crumbs {
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    color: #888;
}

.bussiness-crumbs > a {
    margin: 0 5px;
    color: #e77d00;
}

.bussiness-crumbs > em {
    margin: 0 5px;
    color: #333;
}

.bussiness-container {
    width: 1000px;
    margin: 0 auto;
}

.bussiness-container-wrap {
    margin-bottom: 20px;
    background: #fff;
    font-family: "微软雅黑";
    font-size: 12px;
    border: 1px solid #e8e7e7;
    width: 998px;
}

.business-content {
    min-height: 748px;
    padding: 22px;
    overflow: hidden;
    background: #fff;
}

.business-redbag {
    border: 1px solid #eee;
    padding: 40px 0;
    font-size: 14px;
}

.business-redbag h2 {
    font-weight: normal;
    margin-left: 30px;
    margin-bottom: 15px;
}

.business-redbag h2 span {
    font-size: 20px;
    display: inline-block;
    margin-right: 20px;
}

.business-redbag .redbag-status {
    background: url(../images/redbag-ok.png) no-repeat 30px 40px #effff3;
    padding: 30px 0 30px 80px;
    line-height: 30px;
}

.step-list {
    padding: 30px 0 30px 30px;
}

.step-list li {
    float: left;
    text-align: center;
    margin-right: 30px;
}

.step-list li img {
    display: inline-block;
    margin-bottom: 10px;
    height: 75px;
}

.btn-redbag {
    margin-left: 30px;
}

.btn-redbag a {
    color: #0066ff;
    text-decoration: underline;
}
