body {
    background: #f3f3f3;
}

.bussiness-crumbs {
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    color: #888;
}

.bussiness-crumbs > a {
    margin: 0 5px;
    color: #e77d00;
}

.bussiness-crumbs > em {
    margin: 0 5px;
    color: #333;
}

.bussiness-container {
    width: 1000px;
    margin: 0 auto;
}

.bussiness-container-wrap {
    margin-bottom: 20px;
    background: #fff;
    font-family: "微软雅黑";
    font-size: 12px;
    border: 1px solid #e8e7e7;
    width: 998px;
    background:#fafafa;
}

.security-bind {
    padding: 22px;
    overflow: hidden;
    min-height: 755px;
    background-color: #fff;
}

.common-title{
    height: 40px;
    font-size: 16px;
    color: #666;
    line-height: 40px;
    margin: 18px 0 40px 0;
    border-bottom: #f5f5f5 1px solid;
    
}

.common-title strong {
    display: inline-block;
    margin-right: 20px;
    color: #333;

    font-weight: normal;
}

.common-title span {
    color: #d4d4d4;
    
}

.login-body,
.login-tab,
.login-form li {
    zoom: 1;
}

.login-body:after,
.login-tab:after,
.login-form li:after {
    content: '';
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}

.login-box {
    padding: 0 20px 0 150px;
    width: 450px;
}

.login-tab {
    margin-bottom: 20px;
}

.login-tab li {
    float: left;
    display: inline-block;
    width: 50%;
    height: 30px;
    line-height: 30px;
    padding-bottom: 10px;
    border-bottom: #eee 2px solid;
    text-align: center;
    color: #888;
    font-size: 16px;
    cursor: pointer;
    overflow: hidden;
}

.login-tab li.hover {
    color: #333;
    border-bottom: #ff7133 2px solid;
}

.login-tab li:hover {
    color: #333;
}

.lotin-top {
    margin-bottom: 7px;
    padding-left: 105px;
    font-size: 14px;
    font-weight: normal;
    height: 30px;
    line-height: 30px;
}

.login-form > li {
    padding: 10px 0;
}

.login-box li > label {
    float: left;
    margin-right: 20px;
    width: 85px;
    line-height: 35px;
    text-align: right;
    color: #666;
    font-size: 14px;
}

.login-box li > div {
    overflow: hidden;
}

.login-box .login-input,
.login-box .login-input-code {
    display: inline-block;
    vertical-align: middle;
    padding: 8px 10px;
    height: 18px;
    line-height: 18px;
    border: #dedede 1px solid;
}

.login-box .login-input {
    width: 210px;
}

.login-box .login-input-code {
    width: 120px;
}

.login-box .code-btn {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    width: 80px;
    height: 34px;
    line-height: 34px;
    border: #d7d7d7 1px solid;
    text-align: center;
    color: #888;
    font-size: 12px;
    background: #f4f4f4;
}

.login-box li .tips {
    display: none;
    margin-top: 10px;
    color: #aaa;
    line-height: 16px;
    font-size: 12px;
}

.login-box li .tips i {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    background-image: url(../images/login-icon.png);
    background-repeat: no-repeat;
}

.login-box li .tips i.erroTips {
    background-position: 0 0;
}

.login-box li .tips i.okTips {
    background-position: 0 -16px;
}

.login-box li .tips i.alertTips {
    background-position: 0 -32px;
}

.login-btn-box {
    margin: 30px 0 0 105px;
}

.login-btn {
    display: inline-block;
    width: 230px;
    height: 40px;
    line-height: 40px;
    background: #cf3128;
    color: #fff;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

.login-btn:hover {
    background: #b11c00;
}
/*password*/

.user-phone {
    line-height: 34px;
    font-size: 16px;
    color: #666;
}

.tips-info {
    padding-left: 15px;
    font-size: 12px;
    color: #888;
}

.tPwGrade {
    width: 231px;
    height: 17px;
    line-height: 17px;
    border: 0;
    padding: 0;
    font-size: 12px;
    text-align: center;
    background: #fff;
    color: #fff;
}

.tPwGrade > li {
    width: 76px;
    margin-right: 1px;
    background: #fff;
    border-bottom: #eee 1px solid;
    border-left: #eee 1px solid;
    border-right: #eee 1px solid;
    position: relative;
    margin-right: -1px;
    float: left;
    color: #bbb;
}
/* button */

.tool-btn {
    padding: 0 45px;
    height: 36px;
    border: 0;
    line-height: 36px;
    text-align: center;
    color: #fff;
}

.dialog-btn {
    width: 110px;
    height: 32px;
    border: 0;
    line-height: 32px;
    font-size: 14px;
    text-align: center;
    color: #fff;
}

.use-btn {
    background: #d03a24;
}

.use-btn:hover {
    background: #af1f0a;
}

.confirm-btn {
    background-color: #d03a24;
}

.cancle-btn {
    background-color: #bbb;
}
/* dialog */

.dialog {
    position: fixed;
    left: 50%;
    top: 20%;
    display: none;
    width: 550px;
    margin-left: -265px;
    background: #fefefe;
    z-index: 101;
    font-family: "微软雅黑";
}

.dialog-wrap {
    padding: 0 30px;
}

.dialog-close {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background-image: url(../images/dialog_close.png);
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: -1000px;
    overflow: hidden;
}

.dialog-content {
    padding: 0 0 20px;
}

.dialog-title {
    padding: 25px 0;
    border-bottom: 1px dashed #e5ddd1;
}

.dialog-title > h2 {
    line-height: 24px;
    font-size: 24px;
    font-weight: normal;
    color: #000;
}

.confirm-info {
    margin-bottom: 35px;
    text-align: center;
}

.confirm-info h2 {
    margin-bottom: 10px;
    font-weight: normal;
    line-height: 24px;
    font-size: 18px;
    color: #666;
}

.confirm-info p {
    font-size: 12px;
    color: #888;
}

.confirm-info p > a {
    padding: 0 5px;
    color: #e77d00;
}

.btn-wrap {
    margin-bottom: 30px;
    text-align: center;
    overflow: hidden;
}

.dialog-form {
    padding: 20px 0 10px 0;
    font-size: 14px;
}

.dialog-form li {
    min-height: 32px;
    padding: 8px 0;
    line-height: 32px;
    color: #666;
    overflow: hidden;
}

.dialog-form label {
    float: left;
    width: 80px;
    margin-right: 20px;
    text-align: right;
}

.dialog-form li>div > input[type="text"] {
    float: left;
    width: 110px;
    height: 16px;
    margin-right: 10px;
    border: 1px solid #dedede;
    padding: 7px 10px;
    line-height: 16px;
}

.select-date {
    position: relative;
    left: -10px;
    width: 90px;
    height: 30px;
    border: 0;
    padding: 0 10px;
    outline: none;
}

.dialog-form li>div {
    height: 32px;
    overflow: hidden;
    font-size: 12px;
}

.dialog-form li em {
    margin-left: 10px;
    color: #888;
}

.select-list {
    cursor: pointer;
    position: relative;
    float: left;
    display: inline-block;
    min-width: 110px;
    height: 30px;
    padding: 0 10px;
    border: 1px solid #dedede;
    line-height: 30px;
    background-image: url(../images/select.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    *display: inline;
    *zoom: 1;
}

.select-list > span {
    cursor: default;
    padding-right: 8px;
}

.sku-list {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 160px;
    min-height: 28px;
    max-height: 140px;
    display: none;
    border: 1px solid #dedede;
    background: #fff;
    line-height: 28px;
    font-size: 12px;
    overflow: auto;
    z-index: 105;
}

.sku-list > dd {
    cursor: pointer;
    height: 28px;
    padding: 0 8px;
    color: #888;
}

.sku-list> dd:hover {
    background: #eee;
}

.last-list {
    margin-left: 6px;
}

.shadow {
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    width: 100%;
    height: 3000px;
    background: #000;
    z-index: 100;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.hide {
    display: none;
}

.dialog-content .success,
.dialog-content .fail {
    display: block;
    margin: 25px auto;
    width: 68px;
    height: 68px;
    background-image: url(../images/dialog-icon.png);
    background-repeat: no-repeat;
}

.dialog-content .success {
    background-position: -1px -81px;
}

.dialog-content .fail {
    background-position: -1px -1px;
}
